html {
  scroll-behavior: smooth;
}

.swiper-wrapper {
  padding-block: 3rem;
}

.line-clamp-fallback {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}